<div class="spot_new">
  <!--登録フォーム-->
  <div class="spot_new_register">
    <h3>目撃情報を投稿</h3>
    <%= form_with model: @spot do |f| %>
      <div>
        <%= f.label :shop, "お店の名前 (例：グミストア 〇〇店)" %>
        <br class="width_700">
        <%= f.text_field :shop, id: "spot-new-shop-form" %>
      </div>
      <div>
        <%= f.label :address, "お店の住所 (例：〇〇県〇〇市〇〇1-1-1)" %>
        <br class="width_700">
        <%= f.text_field :address, id: "spot-new-address-form" %>
      </div>
      <div>
        <%= f.hidden_field :user_id, value: session[:user_id] %>
        <%= f.hidden_field :gummy_id, value: @gummy_id %>
      </div>
      <%= f.submit "投稿", id: "spot-new-register-button", class: "submit_button" %>
    <% end %>
  </div>
</div>
