<!--エラーメッセージ-->
<div class="error_message">
  <%= render"shared/error", obj: @gummy %>
</div>
<!--編集フォーム-->
<div class="maker_edit">
  <h3>グミの情報編集</h3>
  <%= form_with model: @gummy do |f| %>
    <%= f.label :name, "商品名（必須）[例：〇〇グミ(グレープ)]" %>
    <%= f.text_field :name, id: "edit-gummy-name-form" %>
    <%= f.label :image, "商品画像（必須）" %>
    <%= f.file_field :image, id: "edit-gummy-image-form" %>
    <%= f.label :maker_id, "メーカー（必須）" %>
    <%= f.collection_select(:maker_id, @makers, :id, :name, {prompt: "メーカーを選択してください"}) %>
    <%= f.label :flavor_id_1, "フレーバー１（必須）" %>
    <%= f.collection_select(:flavor_id_1, @flavors, :id, :name, {prompt: "フレーバーを選択してください"}) %>
    <%= f.label :flavor_id_2, "フレーバー２（任意）" %>
    <%= f.collection_select(:flavor_id_2, @flavors, :id, :name, {prompt: "フレーバーを選択してください"}) %>
    <%= f.label :flavor_id_3, "フレーバー３（任意）" %>
    <%= f.collection_select(:flavor_id_3, @flavors, :id, :name, {prompt: "フレーバーを選択してください"}) %>
    <%= f.label :flavor_id_4, "フレーバー４（任意）" %>
    <%= f.collection_select(:flavor_id_4, @flavors, :id, :name, {prompt: "フレーバーを選択してください"}) %>
    </br>
    <%= f.submit "グミ情報を変更", id: "edit-gummy-register-button" %>
  <% end %>
  <h3>グミの削除</h3>
  <%= link_to "削除", gummy_path(@gummy.id), method: :delete %>
</div>
