<div class="gummy_index content">
  <div class="gummy_index_header">
    <div class="gummy_index_search_box">
      <h3>グミを検索</h3>
      <%= render "/shared/search_box" %>
    </div>
    <dev class="gummy_index_register">
      <h3>グミを登録する</h3>
      <%= link_to "新規登録", new_gummy_path, class: "link_button" %>
    </dev>
  </div>
  <div class="gummy_contents">
    <% if @gummies == [] %>
      <p>グミの情報が登録されていません</p>
    <% else %>
      <% @gummies.each_with_index do |gummy, i| %>
        <%= link_to gummy_path(gummy.id) do %>
          <div class="gummy_list">
            <p id="gummy-name-<%= i %>"><%= gummy.name %></p>
            <div class="gummy_image_div" id="gummy-image-<%= i %>">
              <%= image_tag "#{gummy.image}" %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
