<!--エラーメッセージ-->
  <%= render"shared/error", obj: @user %>
<!--編集フォーム-->
<div class="user_edit">
  <h3>アカウント編集</h3>
  <%= form_with model: @user do |f| %>
    <div class="user_edit_form">
      <%= f.label :name, "ユーザー名(最大8文字)" %>
      <br class="sp">
      <%= f.text_field :name, id: "edit-name-form" %>
    </div>
    <div class="user_edit_form">
      <%= f.label :email, "メールアドレス" %>
      <br class="sp">
      <%= f.email_field :email, id: "edit-email-form" %>
    </div>
    <div class="user_edit_form">
      <%= f.label :image, "アイコン画像" %>
      <br class="sp">
      <%= f.file_field :image, id: "edit-image-form" %>
    </div>
    <div class="acbox">
      <input class="acinput" id="ac-1" type="checkbox" />
      <label class="aclabel" for="ac-1">パスワードの変更</label>
      <div class="acbox-under">
          <%= f.label :password, "パスワード" %>
          <br class="sp">
          <%= f.password_field :password, id: "edit-password-form" %>
          <br class="width_750">
          <%= f.label :password_confirmation, "パスワード(確認用)" %>
          <br class="sp">
          <%= f.password_field :password_confirmation, id: "edit-password-confirmation-form" %>
      </div>
    </div>
    <%= f.submit "変更", id: "edit-change-button", class: "submit_button" %>
  <% end %>
  <h3>アカウントを削除する</h3>
  <%= link_to "アカウントを削除", user_path, method: :delete, id: "user-delete-button", class: "link_button" %>
</div>
