<!--エラーメッセージ-->
<div class="error_message">
    <%= render"shared/error", obj: @user %>
</div>
<!--登録フォーム-->
<div class="user_sign_up">
  <h3>新しいアカウントを作成</h3>
  <%= form_with model: @user do |f| %>
    <p>ユーザー名(最大8文字)</p>
    <%= f.text_field :name %>
    <p>メールアドレス</p>
    <%= f.email_field :email %>
    <p>パスワード</p>
    <%= f.password_field :password %>
    <p>パスワード(確認用)</p>
    <%= f.password_field :password_confirmation %>
    </br>
    <%= f.submit "新規登録" %>
  <% end %>
</div>
