<div class="user_review content">
  <%if @reviews == [] %>
    <div class="user_review_not_posted">投稿したレビューがありません</div>
  <% else %>
    <% @reviews.each_with_index do |review, i| %>
      <div class="user_review_box">
        <%= link_to gummy_path(review.gummy_id), class: "user_review_gummy_link" do %>
          <div class="user_review_gummy_info">
            <div class=user_review_gummy_name>
              <%= review.gummy.name %>
            </div>
            <div class="user_review_image_div">
              <%= image_tag "#{review.gummy.image}" %>
            </div>
          </div>
        <% end %>
        <div class="user_review_comment_div">
          <p id="user-review-comment-<%= i %>"><%= review.comment %></p>
        </div>
        <p><%= link_to "編集", edit_review_path(review.id, user_id: @user.id), id: "user-review-edit-button-#{i}", class: "link_button" %></p>
      </div>
    <% end %>
  <% end %>
</div>
