<div class="user_show">
  <div>
    <h3>アカウント情報</h3>
    <p>ユーザー名</p>
    <p><%= @user.name %></p>
    <p>メールアドレス</p>
    <p><%= @user.email %></p>
    <p>アイコン画像</p>
    <p>
      <div class="show_image_div">
        <% if current_user_image.identifier.to_s == "default_user_icon.jpg" %>
          <%= image_tag "/assets/default_user_icon.jpg" %>
        <% else %>
          <%= image_tag "#{current_user_image}" %>
        <% end %>
      </div>
    </p>
    <%= button_to "ログアウト", logout_path, method: :delete, id: "show-logout-button" %>
    <h3>登録情報の変更</h3>
    <%= button_to "変更", edit_user_path, method: :get, id: "show-change-button" %>
    <h3>アカウントを削除する</h3>
    <%= button_to "アカウントを削除", user_path, method: :delete, id: "show-delete-button" %>
  </div>
  <div>
    <h3>投稿したレビュー</h3>
    <%= link_to "投稿したレビュー一覧", "/users/#{params[:id]}/review" %>
  </div>
</div>
