<div class="user_show">
  <h3>アカウント情報</h3>
  <p>ユーザー名</p>
  <p><%= @user.name %></p>
  <p>メールアドレス</p>
  <p><%= @user.email %></p>
  <p>アイコン画像</p>
  <p>
    <div class="image_div">
      <%= image_tag @user.image %>
    </div>
  </p>
  <%= button_to "ログアウト", logout_path, method: :delete %>
  <h3>登録情報の変更</h3>
  <%= button_to "変更", edit_user_path, method: :get %>
  <h3>アカウントを削除する</h3>
  <%= button_to "アカウントを削除", user_path, method: :delete %>
</div>
