<div class="header">
  <div>
    <%= link_to "グミサーチ", root_path, class: "app_name" %>
    <%= link_to "グミサーチとは？", about_path %>
  </div>
  <ul>
    <% if logged_in? %>
      <li><%= current_user %></li>
      <li><%= link_to "マイアカウント", user_path(session[:user_id]) %></li>
      <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "ログイン", login_path %></li>
      <li><%= link_to "新規登録", new_user_path %></li>
    <% end %>
  </ul>
</div>
