<!--エラーメッセージ-->
<div class="error_message">
  <%= render"shared/error", obj: @user %>
</div>
<!--編集フォーム-->
<div class="review_edit">
  <h3>レビュー編集</h3>
  <%= form_with model: @review do |f| %>
    <%= f.label :comment, "レビュー内容" %>
    <%= f.text_area :comment, id: "review-edit-comment-form" %>
    </br>
    <%= f.submit "変更", id: "review-edit-register-button" %>
  <% end %>
  <h3>レビューの削除</h3>
  <%= link_to "削除", review_path(@review.id, user_id: @user.id), method: :delete %>
</div>
